<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="icon" th:href="@{/img/descarga.png}" type="image/x-icon" />
    <title>Lista de Hospitales</title>  <!-- Titulo a cambiar-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
</head>
<body>


<div class='container'>

    <div>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" >
                <img th:src="@{/img/descarga.png}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
                Homepage
            </a><!-- Enlace principal a cambiar-->

            <div class="collapse navbar-collapse justify-content-end" id="navbar-app">
                <!--<ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#/user/signIn">Ingresar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#/user/signUp">Registrarse</a>
                    </li>
                </ul>-->
                <ul class="navbar-nav"> <!-- Enlace a otras listas y/o paginas-->
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/paciente/listar}">Pacientes</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/hospital/listar}"> Hospitales</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/doctor/listar}"> Doctores</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>


    <div id="content">
        <main>
            <!-- Contenido -->
            <div class="page-header text-center">
                <h1>Lista de Hospitales</h1> <!-- Lista de #### -->
            </div>





            <div class="container-fluid">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th></th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="hospital ,vestado: ${lista}">
                        <!-- Completar -->
                        <!-- Completar -->
                        <!-- Completar -->
                        <!-- Completar -->
                        <td th:text="${vestado.index+1}"></td>
                        <td th:text="${hospital.nombre}"></td>
                        <td th:text="${hospital.direccion}"></td>
                        <td th:text="${hospital.telefono}"></td>

                        <td><a class="btn btn-primary" th:href="@{'/hospital/doct?id='+${hospital.id}}">Mostrar Doctores</a></td>
                        <td><a class="btn btn-primary" th:href="@{'/hospital/paci?id='+${hospital.id}}">Mostrar Pacientes</a></td>

                    </tr>
                    </tbody>
                </table>

            </div>
            <!-- /Contenido -->
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Gtics 2023-1</div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>



</body>
</html>